body {
  background-color: black;
  margin: 0;
}

.main-container {
  min-height: 100vh;
}

.main-container>* {
  width: 82ch;
  padding: 1ch;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: whitesmoke;
  backdrop-filter: blur(2em);
}

a:visited {
  color: black;
}

a:link {
  color: black;
}