body {
    display: flex;
    flex-direction: column;
}

body>* {
    max-width: 80ch;

    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;

    margin-left: auto;
    margin-right: auto;
}

a:visited,
a:link {
    color: black;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: solid 2px;
}

/* first-of-class
 * https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class
 */

.menu .bottom {
    /* margin-top: auto; */
    margin-left: auto;
}

.menu .bottom~.bottom {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    margin-left: 0;
    margin-right: 0;
}

.menu>* {
    padding: 0.2em 0.5em;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    cursor: pointer;
    user-select: none;
}

.menu>*:hover {
    color: white;
    background-color: black;
    animation-play-state: running;
}

#content>h1 {
    width: max-content;
}

.articles_list {
    padding-left: 0;
}

.articles_list>* {
    display: flex;
    margin-bottom: 0.2em;
    padding: 0.1em 0.2em;
}

.articles_list>*:hover {
    background-color: lightgray;
}

.articles_list * {
    font-size: 12pt;
}

.articles_list>*>*:first-child {
    cursor: pointer;
}

.articles_list>*>*:last-child {
    margin-left: auto;
    margin-right: 0;
}

/* Markdown */

article p {
    line-height: 1.6;
}

article>p,
article>blockquote>p {
    text-indent: 2em;
}

article img {
    max-width: 100%;
    /* border-radius: 6px; */
    display: flex;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-left: auto;
    margin-right: auto;
}

/* Code */

article pre,
article code {
    min-width: 100%;
    width: max-content;
    background-color: lightgray;
    padding: .1em .4em;
    /* border-radius: 6px; */
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

article pre>code {
    padding: 0;
    background-color: unset;
}

/* Quote */

article blockquote {
    border-left: solid;
    border-left-width: thick;
    border-left-color: #00000077;
    background: whitesmoke;
    padding: 0 0.5em;
}

/* Table */

article table {
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    border-collapse: collapse;
}

article table>* {
    margin-left: auto;
    margin-right: auto;
}

article th,
article td {
    border: solid 1px darkgray;
}

article table tbody tr:nth-child(2n-1) {
    background-color: lightgray;
}

.numbers-in-text .numbers-in-text-result {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.2em;
}

.numbers-in-text textarea {
    /* https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.numbers-in-text .numbers-in-text-result>*:nth-child(4n-2),
.numbers-in-text .numbers-in-text-result>*:nth-child(4n-3) {
    background-color: lightgray;
}

.numbers-in-text .numbers-in-text-result>*:nth-child(2n-1) {
    text-align: right;
    font-weight: bold;
    padding-right: 0.5em;
}