body {
    display: flex;
    min-height: 150vh;
    /* background-color: whitesmoke; */
}

.menu {
    position: sticky;
    top: 2vh;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 96vh;
    text-align: right;
    border-right: solid 2px;
}

/* first-of-class
 * https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class
 */

.menu .bottom {
    margin-top: auto;

}

.menu .bottom~.bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.menu>* {
    padding: 0.2em 0.5em;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}

.menu>*:hover {
    color: white;
    background-color: black;
    animation-play-state: running;
}

#content {
    width: 50%;
    padding-left: 0.5em;
}

#content>h1 {
    width: max-content;
}

.articles_list {
    padding-left: 0;
}

.articles_list>* {
    display: flex;
    margin-bottom: 0.2em;
    padding: 0.1em 0.2em;
}

.articles_list>*:hover {
    background-color: lightgray;
}

.articles_list * {
    text-decoration: none;
    font-size: 12pt;
}

.articles_list>*>*:last-child {
    margin-left: auto;
    margin-right: 0;
}

/* Markdown */

article p {
    line-height: 1.6;
}

article>p,
article>blockquote>p {
    text-indent: 2em;
}

article img {
    max-width: 100%;
    /* border-radius: 6px; */
    display: flex;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-left: auto;
    margin-right: auto;
}

/* Code */

article pre,
article code {
    min-width: 100%;
    width: max-content;
    background-color: lightgray;
    padding: .1em .4em;
    /* border-radius: 6px; */
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

article pre>code {
    padding: 0;
    background-color: unset;
}

/* Quote */

article blockquote {
    border-left: solid;
    border-left-width: thick;
    border-left-color: #00000077;
    background: whitesmoke;
    padding: 0 0.5em;
}

/* Table */

article table {
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    border-collapse: collapse;
}

article table>* {
    margin-left: auto;
    margin-right: auto;
}

article th,
article td {
    border: solid 1px darkgray;
}

article table tbody tr:nth-child(2n-1) {
    background-color: lightgray;
}