<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        img {
            max-width: 100%;
        }

        body {
            width: 80ch;
        }
    </style>
</head>

<body>
    <strong>{{ article.title }}</strong>
    <div>Published: {{ article.time.ctime }}</div>
    {% if article.time.ctime!=article.time.mtime %}
    <div>Last Modified: {{ article.time.mtime }}</div>
    {% endif %}
    <hr>
    <article>{{ article.html|safe }}</article>
</body>

</html>