<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>

    {% if about %}
    <h2>About</h2>
    <article> {{ about.html|safe }} </article>
    {% endif %}

    {% if articles %}
    <h2>Articles</h2>
    <table>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.time.ctime }}</td>
                <td><a href="{{ article.link }}">{{ article.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>

</html>