<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog_name }}</title>
    <style>{{- user_css|replace("\n", "") -}}</style>
</head>
<body>
    <div class="main">
        <h1>{{ blog_name }}</h1>

        {% if about -%}
        <h2>About</h2>
        <article>
{{ about.html|safe }}
        </article>
        {%- endif %}

        {% if articles -%}
        <h2>Articles</h2>
        <table>
            <tbody>
                {% for article in articles -%}
                <tr>
                    <td>{{ article.pub_time|datetime }}</td>
                    <td><a href="{{ article.path[1:] }}">{{ article.title }}</a></td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        {%- endif %}
    </div>
</body>
</html>